.title {
    content: white;
}

.img-circle {
    border-radius: 10%;
    margin-left: 1675%;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
}


/* height: 2%;
       width: 2%;
       display: flex;
       margin: auto;
       box-sizing: border-box;
       resize: both; */


/* float: right;
       margin: auto 7px;
       padding: 1% 5%;
       margin-right: 176px;
       text-align: end;
       border-top-left-radius: 50% 50%;
       border-top-right-radius: 50% 50%;
       border-bottom-right-radius: 50% 50%;
       border-bottom-left-radius: 50% 50%; */