<!--edited now-->


<div class="video-container">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" preload="auto">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Audience.mp4" type="video/mp4">
      </video>

    <!-- <div style="margin-left: 34%;margin-right: 40%;margin-top: 200px;">
        <img class="img-fluid" alt="Responsive image" src="../../../assets/generatedtext.jpg">
    </div> -->

</div>

<div class="container">

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <a routerLink="/dashboard" routerLinkActive="active" class="close-icon "></a>
                    <h5 class="card-title text-center">Login Form</h5>


                    <div *ngIf="!displayForgetPassword">
                        <form [formGroup]="loginForm" (submit)="loginUser()">

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="userEmail" formControlName="userEmail" aria-describedby="emailHelp" placeholder="Enter email">

                                <div *ngIf="loginForm.controls['userEmail'].invalid && (loginForm.controls['userEmail'].dirty )" class="alert alert-danger">
                                    Proper Format of Email is abc@abd.com
                                </div>
                                <div *ngIf="( loginForm.controls['userEmail'].touched && loginForm.controls['userEmail'].errors?.required ) " class="alert alert-danger">
                                    + Email is required.
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="userPassword" formControlName="userPassword" placeholder="Password">

                                <div *ngIf="(loginForm.controls['userPassword'].touched  && loginForm.controls['userPassword'].errors?.required)" class="alert alert-danger">
                                    Password is required.
                                </div>

                            </div>



                            <button type=" submit " class="btn btn-primary " [disabled]="loginForm.pristine || loginForm.invalid ">Submit</button>



                        </form>
                    </div>
                    <!-- <div *ngIf="displayForgetPassword">

                        <form [formGroup]="forgetPasswordForm" (submit)="forgetPassword()">

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="userEmail" formControlName="userEmail" aria-describedby="emailHelp" placeholder="Enter email">

                                <div *ngIf="forgetPasswordForm.controls['userEmail'].invalid && (forgetPasswordForm.controls['userEmail'].dirty )" class="alert alert-danger">
                                    Proper Format of Email is abc@abd.com
                                </div>
                                <div *ngIf="( loginForm.controls['userEmail'].touched && loginForm.controls['userEmail'].errors?.required ) " class="alert alert-danger">
                                    Email is required.
                                </div>

                            </div>




                            <button type=" submit " class="btn btn-primary " [disabled]="forgetPasswordForm.pristine || forgetPasswordForm.invalid ">Check Email</button>



                        </form>
                    </div> -->
                    <a routerLink="/register " style="cursor: pointer; ">Not a member? Register</a>
                    <!-- <div *ngIf="!displayForgetPassword">
                        <a (click)="displayForgotPasswordPage()" style="cursor: pointer;"> Forgot Password?</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>