<div class="headline">
    <mat-tab-group>
        <mat-tab label="Upcoming Matches">
            <app-newmatchcard></app-newmatchcard>
        </mat-tab>
        <mat-tab label="Old Matches">
            <app-oldmatch>

            </app-oldmatch>

        </mat-tab>
        <mat-tab label="Old Recommendation List">

            <app-recomment></app-recomment>
        </mat-tab>
        <mat-tab label="New Recommendation List">

            <app-newrecommends></app-newrecommends>
        </mat-tab>
    </mat-tab-group>
</div>